/* src/components/Pagination.css */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination-button {
    background-color: #007bff; /* Цвет фона */
    border: none; /* Убираем стандартную рамку */
    color: white; /* Цвет текста */
    padding: 10px 15px; /* Отступы */
    margin: 0 5px; /* Отступы между кнопками */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.pagination-button:disabled {
    background-color: #ccc; /* Цвет для отключенной кнопки */
    cursor: not-allowed; /* Указатель для отключенной кнопки */
}

.pagination-button:hover:not(:disabled) {
    background-color: #0056b3; /* Цвет при наведении */
}

.pagination-info {
    margin: 0 10px; /* Отступы вокруг текста */
    font-weight: bold; /* Жирный текст */
}
